.background-container {
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.bg-logo {
  background-color: red;
  position: absolute;
  left: 5vw;
  width: 7vw;
  height: auto;
}

